### detritus ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

*.class
*.log

# OSX
.DS_Store

# IDEA
.idea
.idea_modules

# ECLIPSE
.classpath
.project
.settings
.cache
.target

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
